DJANGO_SECRET_KEY=unsafe-development-key-change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173
DJANGO_COOKIE_SECURE=false
POSTGRES_DB=lopos
POSTGRES_USER=lopos
POSTGRES_PASSWORD=lopos
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
